
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
    background: #232733;
    color: #f3f3f3;
    overflow-x: none;
}

.store {
    flex-direction: column;
}

.store .item {
    display: inline-block;
    padding: .1rem .2rem;
    border: 2px solid transparent;
    border-radius: .1rem;
}

.store .item:hover {
    border-color: #4ac45c;
    cursor: pointer;
}

.enemies {
    height: 6rem;
}
